// ========================================================================
// Disp Front
// ======================================================================== /
.disp_front {

   #main-content {

      // Widget Front Page
      // ======================================================================== /
      .evo_widget {
         position: relative;
         font-size: 1.4rem;
         margin-bottom: 40px;

         h3 {
            display: table;
            font-family: @font_title;
            font-size: 2rem;
            position: relative;
            margin-bottom: 35px;

            &::before {
               content: '';
               position: absolute;
               top: 30px;
               left: 0;
               width: 100%;
               height: 2px;
               background-color: @primary;
            }

         }

         a {
            color: @b;

            &:hover, &:active, &:focus {
               color: @primary;
               // background-color: transparent;
            }

         }

         ul {
             list-style-type: none;
             margin: 0;
             padding: 0;
         }

         // Tag Cloud
         // ======================================================================== /
         &.widget_core_coll_tag_cloud {

            .tag_cloud {
               a{
                  display: inline-block;
                  float: left;
                  padding: 5px 12px;
                  font-size: 1.4rem !important;
                  margin: 2px;
                  background-color: @bg_post_regular;
                  border: 1px solid @bdr_bg;
                  border-radius: 2px;

                  &:hover, &:active, &:focus {
                     text-decoration: none;
                     background-color: @primary;
                     color: @w;
                     border-color: @primary;
                  }
               }
            }
         }

         // Calender widget style
         // ======================================================================== /
         &.widget_plugin_evo_Calr {

            .bCalendarTable {
               font-size: 100%;
               border: 1px solid @e;
               border-radius: 3px;

               caption {
                  position: relative;
                  text-align: center;
                  font-family: @font_title;
                  font-size: 1.6rem;
                  margin-bottom: 15px;

                  a{
                     z-index: 0;
                     padding: 0 15px;
                     background-color: @w;

                     &:hover {
                        text-decoration: none;
                     }

                     &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 45%;
                        width: 100%;
                        height: 1px;
                        background-color: #ccc;
                        z-index: -1;
                     }
                  }

               }

               th, td {
                  border-right: 1px solid rgba(228, 228, 228, 0.3);
                  border-bottom: 1px solid rgba(228, 228, 228, 0.3);
                  background-color: @w;
               }

               tr {
                  &:last-child {
                     border: 0;
                  }
               }

               th {
                  width: 10ex;
                  padding: 10px;
                  text-align: center;
               }

               td {
                  padding: 8px 0;

                  &:last-child {
                     border-right: 0;
                  }

                  a{
                     padding: 10px 12px;
                     font-size: 1.6rem;
                     color: @primary;
                  }
               }

               tfoot tr td {
                  border-bottom: 0;
               }

               #bCalendarToday {
                  border: 0;
                  font-weight: 700;
                  background-color: @primary;
                  color: @w;
                  border-radius: 0;

                  a{
                     color: @w;
                  }
               }

            }
         }


      }

   }

}
