// ========================================================================
// Disp Mediaidx Style
// ======================================================================== /
.disp_mediaidx {


   // ========================================================================
   // Main Content Mediaidx
   // ======================================================================== /
   #main-mediaidx {

      .widget_core_coll_media_index {
         clear: both;

         .evo_image_index {
            margin: 0 auto;

            li {
               display: inline-block;
               float: left;
               width: 50%;
               text-align: center;
            }
         }

      }

   }

}
