// ========================================================================
// Disp Front
// ======================================================================== /
.disp_front {

   #main-content {

      ul > li {

         &:last-child {
            border-bottom: none;
         }
      }

      // Featured Intro
      // ======================================================================== /
      .widget_core_coll_featured_intro {

         .jumbotron {
            margin-bottom: 0;
            border-radius: 3px;
            font-weight: 400;
            background-color: @primary;
            color: @w;
            box-shadow: @bx_post;

            @media screen and ( max-width: @S ) {
               padding-bottom: 15px;
               padding-top: 10px;
            }

            p {
               font-size: 2rem;
               font-weight: 400;

               @media screen and ( max-width: @MX ) {
                  font-size: 1.7rem;
               }
            }

            .featurepost {

               .evo_post_title {

                  h3 {
                     display: inline-block;
                     font-weight: 700;
                     color: @w;
                     padding-top: 0 !important;
                     margin-top: 0;
                     margin-bottom: 30px;

                     &::before {
                        background-color: @w;
                        top: 140%;
                     }
                  }

                  .btn-group {
                     padding-top: 0 !important;

                     a {
                        border-color: @w;

                        &:hover {
                           background-color: @w;
                           color: @b;
                        }
                     }
                  }
               }

               .evo_post__full_text, .evo_post__excerpt_text {
                  color: @w;
               }

               .evo_post__full_text {
                  font-size: 2rem;
                  @media screen and ( max-width: @MX ) {
                     font-size: 1.7rem;
                  }

                  a {
                     color: @w;
                     font-weight: 600;

                     &:hover {
                        text-decoration: underline;
                     }
                  }
               }
            }
         }
      }
   }

   .evo_container__front_page_primary {

      // Widget Front Page
      // ======================================================================== /
      .evo_widget {
         position: relative;
         margin-bottom: 40px;

         font-size: 1.4rem;

         h3 {
            position: relative;
            display: table;
            font-family: @font_title;
            font-size: 2rem;
            color: @c0;
            margin-bottom: 35px;

            &::before {
               content: '';
               position: absolute;
               top: 35px;
               left: 0;
               width: 100%;
               height: 2px;
               background-color: @primary;
            }

         }

         a {
            color: @b;

            &:hover, &:active, &:focus {
               color: @primary;
               text-decoration: none;
               // background-color: transparent;
            }

         }

         ul {
             list-style-type: none;
             margin: 0;
             padding: 0;
         }

         // Tag Cloud
         // ======================================================================== /
         &.widget_core_coll_tag_cloud {

            .tag_cloud {
               a{
                  background-color: @bg_post_regular;
                  border: 1px solid @bdr_bg;

                  &:hover, &:active, &:focus {
                     background-color: @primary;
                     border-color: @primary;
                     color: @w !important;
                  }
               }
            }
         }

         // Image Widget Custome Style
         // ======================================================================== /
         &.widget_core_image {
            img {
               max-width: 100%;
            }
         }

         // Comment List Custome Style for Front Disp
         // ======================================================================== /
         &.widget_core_coll_comment_list {
            a {
               &:hover {
                  background-color: transparent;
               }
            }
         }

         // User Links
         // ======================================================================== /
         &.widget_core_user_links {

            .ufld_icon_links {
               text-align: left;

               a{
                  margin: 1px;
                  color: @c4;
                  background-color: #eee;
                  text-align: center;
               }
            }
         }

         // Widget Random User
         // ======================================================================== /
         &.widget_core_user_avatars {
            .widget_flow_blocks {
               align-content: flex-start;
            }
         }

         // WIdget Member
         // ======================================================================== /
         &.widget_core_org_members {

            h3 {
               display: block;

               &::before {
                  display: none;
               }
            }

             div.col-lg-4 {
                width: 50%;
                float: left;
             }

             a {

               &:hover, &:active, &:focus {
                  color: @w;
               }
             }
         }

         &.widget_core_user_login, &.widget_core_user_register {
            .input_text {
               &:focus {
                  box-shadow: none;
               }
            }
         }

      }

   }

}
